---


// @ts-nocheck
export async function getStaticPaths() {
  const url = "https://alvenwirzpgcdjpfhrzm.supabase.co/rest/v1/karrussel";
  const options = {
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsdmVud2lyenBnY2RqcGZocnptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk1MTAzMzksImV4cCI6MjA0NTA4NjMzOX0.bnOeKs799xzM-adiHsVFkHdvJw_lZ-Ri4JAsV6Uvsd4",
    },
  };

  const artists = await fetch(url, options).then((res) => res.json());

  return artists.map((artist) => ({
    params: { artist: artist.slug }, // [artist]=artist.slug
    props: { artist }, // send al data med som props
  }));
}

const { artist } = Astro.props;
import Main from "../layouts/Main.astro";
---

<Main>
  <section>
    <div>
      <h1>{artist.artist}</h1>
      <p>{artist.tekst}</p>
      <div>
        <button class="calender">ADD TO CALENDER</button>
      </div>
      <div>
        <button class="spotify">SPOTIFY</button>
      </div>
    </div>
    <div>
      <img src={"../../images/"+ artist.image} alt=artist.artist}>
    </div>  
  </section>
</Main>


<style>

h1{
  font-family: var(--Primær-H1-Size);
  font-size: var(--Primær-H2-Size);
  padding-bottom: 3rem;
  text-align: center;
}

p{
  padding-bottom: 4rem;
}

section{
  padding: 5rem 5rem;
  gap: 5%;
}

button{
  color: var(--Black);
  text-decoration: none;
  border-radius: 20px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.spotify{
  background-color: rgba(5, 242, 40, 1);
  padding: 10px 120px;
  margin-bottom: 3rem;
}

.calender{
  background-color: var(--White);
  padding: 10px 80px;
  margin-bottom: 3rem;
}


@media (width > 800px){
  /* ved desktop */
  section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 800px){
  img{
    align-content: center;
  }
}

</style>