---
import ArtistCard from "../../components/ArtistCard.astro"
import Main from "../layouts/Main.astro";

  const url = "https://alvenwirzpgcdjpfhrzm.supabase.co/rest/v1/karrussel";
  const options = {
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsdmVud2lyenBnY2RqcGZocnptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk1MTAzMzksImV4cCI6MjA0NTA4NjMzOX0.bnOeKs799xzM-adiHsVFkHdvJw_lZ-Ri4JAsV6Uvsd4",
    },
  };

  const artists = await fetch(url, options).then((res) => res.json());
---
<Main>
<h1>LINEUP</h1>
<h2>THURSDAY 22 AUG 2024</h2>
<h2>OPENING HOURS: 18.00-01.00</h2>
<ul>
    {
        artists.map(artist => <ArtistCard data={artist} />)
    }
</ul>
</Main>


<style>
h1{
  font-family: var(--Primær-H1-Size);
}

h2{
  font-family: var(--Primær-H2-Size);
}

    h1, h2{
      text-align: center;
    }


    ul{
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
}
</style>