* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: "";
}

h1 {
  font-family: var(--Primær-H1-Font);
}

h2 {
  font-family: var(--Primær-H2-Font);
}

p {
  font-family: var(--Primær-Brødtekst-Font);
  line-height: var(--LineHeight);
}

img {
  width: 100%;
}

:root {
  /* Font Family */
  --Primær-H1-Font: "Press Start 2P", system-ui;
  --Primær-H2-Font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --Primær-H3-Font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --Primær-Brødtekst-Font: "Courier New", Courier, monospace;
  --Sekundær-Banner-Font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --Sekundær-Header-Font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  /* Font Size */
  --Primær-H1-Size: 6rem;
  --Primær-H2-Size: 3rem;
  --Primær-H3-Size: 1.5rem;
  --Primær-Brødtekst-Size: 3rem;
  --Sekundær-Banner-Size: 3rem;
  --Sekundær-Header-Size: 3rem;

  /* Colors */
  --White: rgba(255, 255, 255, 1);
  --Black: rgba(0, 0, 0, 1);
  --Red: rgba(182, 34, 24, 1);
  --Green: rgba(76, 220, 105, 1);

  /* Other */
  --LineHeight: 2rem;
  --BorderRadius: 0.3rem;
  --Padding: 2rem;
}
