.herosection {
  background-image: url("herosection.webp");
  background-size: cover; /* Dækker hele området uden at forvrænge billedet */
  background-position: center; /* Centrer billedet */
  background-repeat: no-repeat; /* Undgå gentagelse af billedet */
  height: 100vh; /* Fyld hele browserens højde */
  width: 100vw; /* Fyld hele browserens bredde */
  overflow: hidden;
  margin: 0;
}

h1 {
  font-family: var(--Primær-H1-Font);
  text-align: center;
  color: var(--White);
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--Primær-H1-Size);
  letter-spacing: 0.2cap;
  padding-bottom: 30px;
}

h3 {
  font-family: var(--Primær-H3-Font);
  text-align: center;
  color: var(--White);
  position: absolute;
  font-size: var(--Primær-H3-Size);
}
.h3-date {
  top: 135%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h3-place {
  top: 139%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (width < 800px) {
  /* ved desktop */
  h1 {
    font-size: 5rem;
  }
}
