---
import Main from "./layouts/Main.astro";
import Herosection from "../components/Herosection.astro";
import Banner from "../components/Banner.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Categori from "../components/Categori.astro";
---

    <Main>
    <Herosection/>
    <Banner />
    <Categori />
    <Nyhedsbrev />
  </Main>