---
import "../styles/global.css";
import "../styles/index.css";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Categori from "../components/Categori.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <section class="herosection">
      <h1>KARRUSEL</h1>
      <h3 class="h3-date">27-29 TH AUGUST</h3>
      <h3 class="h3-place">REFSHALEØEN</h3>

    </section>
    <Banner />
    <Categori />
    <Nyhedsbrev />
    <Footer />
  </body>
</html>
