---
const { data } = Astro.props;
console.log(data)
---

<li>
    <a href={"artists/"+data.slug + "/"}>
    <figure>
    <h3>{data.artist}</h3>
    <p>{data.time}</p>
    <img src={"images/"+data.image} alt={data.artist}>
</figure>
</a>
</li>