---
import "../styles/global.css";

const { data } = Astro.props;
console.log(data)
---

<li>
    <img src={"images/"+data.image} alt={data.artist}>
    <a href={"artists/"+data.slug + "/"}>
    <figure>
    <h3>{data.artist}</h3>
    <p>{data.time}</p>
    <p>{data.genre}</p>
</figure>
</a>
</li>


<style>

img{
    width: 50%;
}

a{
    text-decoration: none;
    color: var(--Black);
}



</style>