---
import "../styles/global.css";

const { data } = Astro.props;
console.log(data)
---

<a href={data.slug + "/"}>
<li>
    <img src={"/images/"+data.image} alt={data.artist}>
    <figure>
    <h3>{data.artist}</h3>
    <p>{data.time}</p>
    <p>{data.genre}</p>
</figure>
</li>
</a>


<style>

li{
    text-align: center;
}

img{
    width: 70%;
    padding-top: 2rem;
}
a{
    text-decoration: none;
    color: var(--Black);
}
h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

:last-child{
    padding-bottom: 1.3rem;
}



</style>