---
import "../styles/global.css";
---

<section class="top-nav">
  <a href="index.html" class="logo-container">
    <img src="icons/letter-s.png" alt="Logo" class="logo" />
  </a>
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <nav>
    <ul class="menu">
      <li><a href="">PROGRAM</a></li>
      <li><a href="">MAP</a></li>
      <li><a href="">GALLERY</a></li>
      <li><a href="">LINEUP</a></li>
      <li><a href="">TICKETS</a></li>
    </ul>
  </nav>
</section>
<style>
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 70px;
    padding-left: 1em;
    position: relative; /* Ny tilføjelse for at placere logo korrekt */
  }

  .logo-container {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    height: 100%;
  }

  .logo {
    height: 30px; /* Juster højden efter behov */
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 3px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 4px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  nav {
    height: 100%;
  }

  .menu > li {
    margin: 0;
    padding: 1em;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
