---
import "../styles/global.css";
---

<section class="top-nav">
  <a href="index.html" class="logo-container">
    <img src="icons/letter-s.png" alt="Logo" class="logo" />
  </a>
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <nav>
    <ul class="menu">
      <li><a href="">PROGRAM</a></li>
      <li><a href="">MAP</a></li>
      <li><a href="">GALLERY</a></li>
      <li><a href="">LINEUP</a></li>
      <li><a href="">TICKETS</a></li>
    </ul>
  </nav>
</section>
